<!DOCTYPE html>
<html>
  <head>
    <title>Horror</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <body>
  <h1>Horror Story</h1> 
  <p>
    In an abandoned @Model.Word1, a group of @Model.Word2 decided to spend the night. 


  </p>
